<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8" />
    <meta name="keywords" content="IT Institute, Best IT Institute, IT Institute in surat, Graphic Design, Python, IT Institute in Mota Varachha, Best IT Institute in surat, Flutter Development, Android Development, iOS Development, Animation and Multimedia, Game Development">
    <meta name="description"
        content="Expert It and Multimedia Institute is leading computer training institute in surat. We offers government approved computer training courses and government Certificate in Surat.">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Expert IT & Multimedia Institute</title>

    {{>link}}
</head>

<body>
    {{>navbar}}


    {{!--
    <script type="text/hbs" src="WhatsApp.svg/index.html"></script> --}}


    <!-- slider code -->

    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="2500">
                <img src="images/graphics2.png" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item" data-interval="2500">
                <img src="images/graphics3.png" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item" data-interval="2500">
                <img src="images/graphics4.png" class="d-block w-100 " alt="... " />
            </div>
            <div class="carousel-item " data-interval="2500">
                <img src="images/graphics1.png" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item " data-interval="2500">
                <img src="images/graphics5.png" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item " data-interval="2500">
                <img src="images/graphics6.jpg" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item " data-interval="2500">
                <img src="images/graphics7.png" class="d-block w-100" alt="..." />
            </div>
        </div>
        <button class="carousel-control-prev " type="button" data-target="#carouselExampleInterval" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleInterval" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </button>
    </div>

    <div class="heading1">
        <h3>TRENDING COURCES</h3>
    </div>




    <div class="mdit">
        <section>
            <div class="container">
                <div class="left"></div>
                <div class="right">
                    <div class="content">
                        <h1>MDIT</h1>
                        <P>Master Diploma In Information & Technology</p>
                        <a href="/mditpage" class="btn">Click Me</a>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <div class="heading1">
        <h3>OFFERED COURCES</h3>
    </div>

    <div class="contentbox">
        <div class="grid">
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="images/content1.jpeg" alt="Rome" />
                    <div class="card-content">
                        <h1 class="card-header">FRONT END DESIGNING & DEVELOPING</h1>

                        <a href="/page1"><button class="card-btn">Read More..</button></a>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="images/content2.jpg" alt="Rome" />
                    <div class="card-content">
                        <h1 class="card-header">BACK END DEVELOPING</h1>

                        <a href="/page2"><button class="card-btn">Read More..</button></a>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="images/content3.webp" alt="Grand Canyon" />
                    <div class="card-content">
                        <h1 class="card-header">ANDROID DEVELOPMENT</h1>

                        <a href="/page3"><button class="card-btn">Read More..</button></a>
                    </div>
                </div>
            </div>

            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="images/content4.jpeg" alt="Grand Canyon" />
                    <div class="card-content">
                        <h1 class="card-header">iOS DEVELOPMENT</h1>

                        <a href="/page4"><button class="card-btn">Read More..</button></a>
                    </div>
                </div>
            </div>

            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="images/content5.jpg" alt="Grand Canyon" />
                    <div class="card-content">
                        <h1 class="card-header">FLUTTER DEVELOPMENT</h1>

                        <a href="/page5"><button class="card-btn">Read More..</button></a>
                    </div>
                </div>
            </div>

            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="images/content6.webp" alt="Grand Canyon" />
                    <div class="card-content">
                        <h1 class="card-header">SOFTWARE DESIGNING & DEVELOPMENT</h1>

                        <a href="/page6"><button class="card-btn">Read More..</button></a>
                    </div>
                </div>
            </div>

            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="images/content7.webp" alt="Grand Canyon" />
                    <div class="card-content">
                        <h1 class="card-header">GAME DEVELOPMENT</h1>

                        <a href="/page7"><button class="card-btn">Read More..</button></a>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="images/content8.webp" alt="Grand Canyon" />
                    <div class="card-content">
                        <h1 class="card-header">GRAPHICS DESIGNING</h1>

                        <a href="/page8"><button class="card-btn">Read More..</button></a>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="images/content9.webp" alt="Grand Canyon" />
                    <div class="card-content">
                        <h1 class="card-header">ANIMATION AND MULTIMEDIA</h1>

                        <a href="/page9"><button class="card-btn">Read More..</button></a>
                    </div>
                </div>

            </div>

        </div>

    </div>















    <div class="heading2">
        <h3>OTHER COURCES WE OFFER</h3>
    </div>

    {{!-- othercources --}}


    <div class="container-fluid">
        <div class="row">


            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="othercourse">

                    <h3>Diploma in Javascript Development</h3>

                </div>
            </div>



            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="othercourse">
                    <h3>Diploma in Civil Drafting</h3>

                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="othercourse">
                    <h3>Diploma in Mechanical Drafting</h3>

                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="othercourse">
                    <h3>Diploma in JAVA Language</h3>

                </div>
            </div>


        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="othercourse">

                    <h3>Diploma in Animation & Video Editing</h3>

                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="othercourse">
                    <h3>Diploma in Digital Marketing</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="othercourse">

                    <h3>Diploma in Python Technology</h3>

                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="othercourse">
                    <h3>Diploma in.Net Technology</h3>

                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="othercourse">

                    <h3>Diploma in Fashion Designing</h3>

                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="othercourse">
                    <h3>Diploma in Full-stack Develpoment</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="othercourse">

                    <h3>Diploma in Block-Chain Technology</h3>

                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="othercourse">
                    <h3>Diploma in PHP Language</h3>

                </div>
            </div>

        </div>
    </div>





    {{!-- details --}}


    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="details">

                    <i class="fa-solid fa-children"></i>
                    <h2>1000+</h2>
                    <h3>HAPPY STUDENTS</h3>

                </div>
            </div>


            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="details">

                    <i class="fa-solid fa-certificate"></i>
                    <h2>10+</h2>
                    <h3>CERTIFICATION APPROVAL</h3>
                </div>
            </div>


            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="details">

                    <i class="fa-solid fa-person-chalkboard"></i>
                    <h2>50+</h2>
                    <h3>CERTIFIED TEACHERS</h3>
                </div>
            </div>


            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="details">

                    <i class="fa-solid fa-user-graduate"></i>
                    <h2>500+</h2>
                    <h3>STUDENT PLACED</h3>
                </div>
            </div>
        </div>
    </div>





    <div class="heading3">
        <h3>WHY CHOOSE EXPERT</h3>
    </div>

    {{!-- service box --}}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="service-box">
                    <span class="icon">
                        <div class="classroom"><img src="images/classroom.png"></div>
                    </span>
                    <h3>Industry Experts As Trainers</h3>
                    <p>Our trainers have 5+ years of industry experience coupled with extensive research and
                        analysis.
                    </p>
                </div>
            </div>



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="service-box">
                    <span class="icon">
                        <div class="classroom"><img src="images/teacher.png"></div>
                    </span>
                    <h3>Latest Curriculum</h3>
                    <p>We Provides latest curriculum for all courses which designed in such a way that Students
                        will get
                        full knowledge within a short time.</p>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="service-box">
                    <span class="icon">
                        <div class="classroom"><img src="images/computer.png"></div>
                    </span>
                    <h3>Latest Technology</h3>
                    <p>We strive to let you have a solid foundational knowledge of technologies shaping the IT
                        World
                        today.</p>
                </div>
            </div>



        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="service-box">
                    <span class="icon">
                        <div class="classroom"><img src="images/graduated.png"></div>
                    </span>
                    <h3>Interview Assistance</h3>
                    <p>At the end of each training,our training instructor will go through the possible
                        technical
                        questions you may be asked.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="service-box">
                    <span class="icon">
                        <div class="classroom"><img src="images/thought.png"></div>
                    </span>
                    <h3>Free Upgradation</h3>
                    <p>We will be provided free upgradation for any newer version of the course you have.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="service-box">
                    <span class="icon">
                        <div class="classroom"><img src="images/social-care.png"></div>
                    </span>
                    <h3>Lifetime Support</h3>
                    <p>We will provide you lifetime support on all the courses you learned from us.</p>
                </div>
            </div>
        </div>
    </div>

    {{!-- partner --}}

    <div class="partner1">
        <div class="container">
            <h2>OUR PLACEMENT PARTNERS</h2>
            <section class="customer-logos slider">
                <div class="slide"><img src="images/partner1.png" alt="logo"></div>
                <div class="slide"><img src="images/partner2.png" alt="logo"></div>
                <div class="slide"><img src="images/partner3.png" alt="logo"></div>
                <div class="slide"><img src="images/partner4.jpg" alt="logo"></div>
                <div class="slide"><img src="images/partner5.jpg" alt="logo"></div>
                <div class="slide"><img src="images/partner6.png" alt="logo"></div>
                <div class="slide"><img src="images/partner7.png" alt="logo"></div>
                <div class="slide"><img src="images/partner8.png" alt="logo"></div>
                <div class="slide"><img src="images/partner9.png" alt="logo"></div>

            </section>
        </div>
    </div>


    <div class="partner2">
        <div class="container">
            <h2>OUR STUDENTS ARE PLACED IN COMPANIES</h2>
            <section class="customer-logos slider">
                <div class="slide"><img src="images/partner11.jpg" alt="logo"></div>
                <div class="slide"><img src="images/partner12.jpg" alt="logo"></div>
                <div class="slide"><img src="images/partner14.avif" alt="logo"></div>
                <div class="slide"><img src="images/partner15.png" alt="logo"></div>
                <div class="slide"><img src="images/partner16.png" alt="logo"></div>
                <div class="slide"><img src="images/partner17.png" alt="logo"></div>
                <div class="slide"><img src="images/partner18.jpeg" alt="logo"></div>
                <div class="slide"><img src="images/partner19.jpg" alt="logo"></div>
                <div class="slide"><img src="images/partner20.jpg" alt="logo"></div>
                <div class="slide"><img src="images/partner21.webp" alt="logo"></div>
                <div class="slide"><img src="images/partner22.jpg" alt="logo"></div>
                <div class="slide"><img src="images/partner23.png" alt="logo"></div>
                <div class="slide"><img src="images/partner24.png" alt="logo"></div>
                <div class="slide"><img src="images/partner25.png" alt="logo"></div>
                <div class="slide"><img src="images/partner26.jpg" alt="logo"></div>

            </section>
        </div>
    </div>


    <script>

        $(document).ready(function () {
            $('.customer-logos').slick({
                slidesToShow: 5,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1500,
                arrows: false,
                dots: false,
                pauseOnHover: false,
                responsive: [{
                    breakpoint: 768,
                    setting: {
                        slidesToShow: 4
                    }
                }, {
                    breakpoint: 520,
                    setting: {
                        slidesToShow: 3
                    }
                }]
            });
        });

    </script>
    <div id="myButton"></div>
</body>

<script type="text/javascript">
    $(function () {
        $('#myButton').floatingWhatsApp({
            phone: '5491133359850',
            popupMessage: 'Hello, how can we help you?',
            message: "I'd like to order a pizza",
            showPopup: true,
            showOnIE: false,
            headerTitle: 'Welcome!',
            headerColor: 'crimson',
            backgroundColor: 'crimson',
            buttonImage: '<img src="burger.svg" />'
        });
    });
</script>

{{!-- footer --}}
{{!--
<div class="content1">
    <div class="text">Fully Responsive Footer Section</div>
    <div class="p">HTML and CSS (Flexbox)</div>
</div> --}}



<div class="chatboxdiv">
    <input type="checkbox" id="click">
    <label for="click">
        <i class="fa-brands fa-whatsapp"></i>
    </label>
    <div class="wrapper">
        <div class="head-text">
            Expert IT & Multimedia Institute
        </div>
        <div class="chat-box">
            <div class="desc-text">
                Hello... How can I help you?
            </div>
            <div class="field">
                <a href="https://wa.me/918160360264?text=hello" title="Message on whatsapp">
                    <button>Start Chats&nbsp;<i class="fa-brands fa-whatsapp"></i></button></a>
            </div>
        </div>
    </div>
</div>











{{>footer}}


</body>

</html>