<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expert IT & Multimedia Institute</title>
   {{>link}}
</head>

<body>

  {{>navbar}}

  <div class="mditpage2">
    <div class="container11">
      <h2>MDIT COURSE</h2>
      <ul>
        <li>
          <a href="/page1"><P>FRONT END DESIGNING & DEVELOPING</P></a>
        </li>
        <li>
           <a href="/page2"><P>BACK END DEVELOPING</P></a>
        </li>
        <li>
          <a href="/page3"> <P>ANDROID DEVELOPMENT</P></a>
        </li>
        <li>
           <a href="/page4"><P>iOS DEVELOPMENT</P></a>
        </li>
        <li>
          <a href="/page5"><P>FLUTTER DEVELOPMENT</P></a>
        </li>
        <li>
           <a href="/page6"><P>SOFTWARE DESIGNING & DEVELOPMENT</P></a>
        </li>
        <li>
           <a href="/page7"><P>GAME DEVELOPMENT</P></a>
        </li>
        <li>
           <a href="/page8"><P>GRAPHICS DESIGNING</P></a>
        </li>
        <li>
          <a href="/page9"><P>ANIMATION AND MULTIMEDIA</P></a>
        </li>
      </ul>
    </div>
  </div>



  




  {{>footer}}


</body>

</html>