<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>Expert IT & Multimedia Institute</title>

     {{>link}}
</head>

<body>


    {{>navbar}}



    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                <div class="mainheading">


                    <h1>GRAPHIC DESIGNING</h1>

                </div>
            </div>
        </div>
    </div>

    <div class="page">

        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>


                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>DTP(Desktop Publicity)</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>History of Graphics</li>
                            <li>Principle of raster and Vector Graphics</li>
                            <li>Importance of Text Content in Graphics</li>
                            <li>Understanding the types of logos</li>
                            <li>How to use Colors in Design (Color Management)</li>
                            <li>How to create design with arranging Text (Typography)</li>
                            <li>Creating an amazing icon (Iconography)</li>
                            <li>Rules & Sizing of Graphics</li>
                            <li>All type of Printing Graphics Photo Editing (Photo Studio & Textile Marketing)</li>
                            <li>Laser Cutting Design</li>
                            <li>Fundamental of Fashion Model & Textile Pattern</li>
                            <li>Product Packaging Design</li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>

        </div>






        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Graphics Designing</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>DTP (As Above)</li>
                            <li>Creating Vector Graphics</li>
                            <li>Logo, Visiting Card, Brochure Design</li>
                            <li>Video & Animation Graphics</li>
                            <li>Promo. Video, Title & Product Base animation</li>
                            <li>Motion Graphics</li>
                            <li>Product Design for advertising</li>
                            <li>In Design</li>
                            <li>Design multi Page Documents Containing Text</li>
                            <li>Vector Artwork and Images</li>
                            <li>Use Precise Grids and Guides to Position Page Elements and Create Polished Layouts</li>
                            <li>Professional Typesetting Features to Format Text Consistently Across Pages, Chapters, and Publication</li>
                            <h6>Software</h6>
                            <li>Corel DRAW, Photoshop</li>

                        </ul>
                    </div>
                </div>

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>

        </div>







        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>3Ds MAX</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>3D Graphics & Logo Design</li>
                            <li>3D Product Design for Advertising</li>
                            <li>Texturing and Material Unwrapping</li>
                            <li>Modeling 3D Assets</li>
                            <li>Rendering with the best environment and lighting effects</li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>

        </div>




        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Mind Mapping</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Freeing the mind</li>
                            <li>Bring brilliant ideas</li>
                            <li>Helping Organize a Strategic Planning</li>
                            <li>Imagination Developments</li>
                            <li>Thinking Skills Development</li>
                            <li>Increasing Motivation</li>
                            <h6>Software</h6>
                            <li>1.Drawing 2.Mind 3.Mapping 4.Portfolio Making (Behance, Dribbble, etc...)</li>

                        </ul>
                    </div>
                </div>

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>

        </div>







    </div>



    {{>footer}}


</body>

</html>