<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


      <title>Expert IT & Multimedia Institute</title>
     {{>link}}
</head>

<body>


    {{>navbar}}



    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                <div class="mainheading">


                    <h1>GAME DEVELOPMENT</h1>

                </div>
            </div>
        </div>
    </div>

    <div class="page">

        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>


                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Game Designing</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>2D Game Design</li>
                            <li>Introduction to Photoshop, Illustrator Tools, Properties, Additionally Gaming Plugins</li>
                            <li>Starting Shape with Use Shape Tool</li>
                            <li>2D Color Games</li>
                            <li>Game Interface (UI/UX)-Introduction of Layer Style (Bevel Emboss, Drop Shadow, Gradient Overlay)</li>
                            <li>Object Editing using Camera Raw Filter</li>
                            <li>Working with the Warp Tool</li>
                            <li>Pop out Effect</li>
                            <li>Character Design - Use Illustrator</li>
                            <li>Pen Tool</li>
                            <li>Drawing tools that provide creative freedom and control</li>
                            <li>Explore coloring options</li>
                            <li>Experiment with poses for your characters</li>
                            <li>Warp Tool</li>
                            <li>Animation - Use Illustrator file in After Effect</li>
                            <li>Use Time line (Rotation, Transform)</li>
                            <li>Frame by Frame Animation</li>
                            <li>Export GIF (Png) Sprite Format</li>
                            <li>Study on Google Material & Apple Developer Guide</li>
                            <li>How to Use Colors in Design (Color Management)</li>
                            <li>How to Create Designs with arranging text (Typography)</li>
                            <li>Creating Icon (iconography)</li>
                            <li>Actual Process of Design</li>
                            <li>How to Prototype</li>
                            <li>How to make more Informative, interactive & Business Attracting Designs</li>
                            <li>Final Project with Market Survey and Creating Professional Designs as per industry requirements</li>
                            <li>Making Portfolio and Resume on Online Platforms (Behance, Dribble etc.)</li>
                            <li>Software to learn : PSD, EPS, After Effect</li>
                            <h6>SOFTWARE</h6>
                            <li>SOFTWARE Photoshop, Illustrator, After effect, Blander, Maya</li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>

        </div>






        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Game Development</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Introduction To C Language</li>
                            <li>C Program Structure</li>
                            <li>C Input and Output</li>
                            <li>Decision Control Structure</li>
                            <li>Loop Control Structure</li>
                            <li>Arrays and Strings</li>
                            <li>Function</li>
                            <li>Introduction To C++ Language</li>
                            <li>C++ Constructors</li>
                            <li>C++ Namespace</li>
                            <li>C++ Inheritance</li>
                            <li>Basic Knowledge of algorithms and Data Structures</li>
                            <li>Intro and Installation of Unity</li>
                            <li>Working with Visual Studio and Structure of Mono behaviour</li>
                            <li>Understanding of Unity Game objects & Console</li>
                            <li>Unity - Starting with UI</li>


                        </ul>
                    </div>
                </div>

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>

        </div>

    </div>



    {{>footer}}


</body>

</html>