<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>Expert IT & Multimedia Institute</title>

     {{>link}}
</head>

<body>


    {{>navbar}}



    




    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                <div class="mainheading">


                    <h1>FRONT END DEVELOPING & DESIGNING</h1>

                </div>
            </div>
        </div>
    </div>

    <div class="page">  


        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Figma (UI/UX Design)</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li> Making Portfolio and Resume on Online Platforms (Behance, Dribbble etc.)</li>
                            <li>Introduction to App Design</li>
                            <li>Creating Basic Application</li>
                            <li>Analysis & Research about Design</li>
                            <li>Different Between UI/UX</li>
                            <li>Study on Google Material & Apple Developer Guide</li>
                            <li>Difference between Android & iOS Applications</li>
                            <li>Actual Process of Design & How to Prototype</li>
                            <li>Sketching Wire-frame of Application</li>
                            <li>Final Project with Market Survey and Creating Professional Designs as per industry
                                requirements</li>
                            <li>Making Portfolio and Resume on Online Platforms (Behance. Dribbble etc.)</li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>

        </div>







        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Illustrator(UI/UX Design)</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>How to create Designs with arranging text (Typography)</li>
                            <li>Creating Icons (iconography)</li>
                            <li>Creating a Social Media Post</li>
                            <li> 3D, Isometric & Perspective View Design</li>
                            <li>Logos Design - Prototyping, Mind Mapping & Mockup setting</li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>

        </div>









        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>


                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Web Front and Coding</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Web Design</li>
                            <li>Create a Website Structure Using HTML, HTML5</li>
                            <li>Formatting Web Layouts Using CSS3</li>
                            <li>Build Responsive Web Design Using Media Query Using Framework Like Bootstrap</li>
                            <li>Add Some Cool Effects Using JavaScript & jQuery</li>
                            <li>Converting PSD to HTML</li>
                            <li>Adding Animation, Scrolling Effects, and Many More Effects Using JS & JQuery</li>
                            <li>Optimizing Website Using SEO Rules</li>
                            <li>Launching Our Website</li>
                            <li>Learning About Domain, Hosting, and Maintain Live Website Using Server Panel</li>
                            <li>Working With WordPress, Installing, Customization, Using Dashboard</li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>

        </div>









        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>


                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Web Front End Development</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Java script</li>
                            <li>Javascript Importance</li>
                            <li>Ecma script & Versions & Install Environment Scratch Js</li>
                            <li>Show Different Types Of Output Methods(alert, Console, Document, Inner Html)</li>
                            <li>Syntax And Operations Of Js</li>
                            <li>Conditions & Looping</li>
                            <li> Different Types Of Variable Like (var, Const, Let)</li>
                            <li> Array And String With Different Methods</li>
                            <li> Functions (function Types, Return Types)</li>
                            <li>Working With Objects (Prototype, Methods )</li>
                            <li> Use Different Types Of Objects Like (date, Math,Boolean, Number)</li>
                            <li> Understanding Class And Objects, Constructor,Prototype, Inheritance)</li>
                            <li> Working With Javascript Dom (document Object Module)</li>
                            <li>Understanding Es6 Concept</li>
                            <li>Arrows</li>
                            <li>Classes</li>
                            <li>Iterators + For..of</li>
                            <li>Convert Html File into PHP</li>
                            <li>Proxies, Symbols, Promises, Then, Next</li>
                            <li>Understanding Json (javascript Object Notation)</li>

                            <li> Working With Json (Json.parse, Json.stringify,Json Object, Json Array)</li>
                            <li> Storing Local Data In Javascript With Json Local Storage</li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>

        </div>



        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>


                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Angular Js</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Angular Importance And Installing Npm</li>
                            <li>Understanding Directory Structures</li>
                            <li>Under Standing Data Binding And Ng Serve Commands</li>
                            <li>Working With Mvc (model, View, Controller)</li>
                            <li>Scope And Filtering (custom Filter)</li>
                            <li>Working With Tables And Select</li>
                            <li>Working With (http) Request And Response</li>
                            <li>Working With Dom & Ng Events</li>
                            <li>Understanding Form And Validations</li>
                            <li>Understanding Sql With Angular</li>
                            <li>Working With Routings & Services</li>
                            <li>Setup Custom Template</li>
                            <li>Working With Api And Request</li>
                            <li>Understanding Class And Objects, Constructor, Prototype, Inheritance)</li>
                            <li>Working With Javascript Dom (Document Object Module)</li>

                        </ul>
                    </div>
                </div>

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>

        </div>


    </div>



    {{>footer}}


</body>

</html>