<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>Expert IT & Multimedia Institute</title>

     {{>link}}
</head>

<body>


    {{>navbar}}



    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                <div class="mainheading">


                    <h1>BACK END DEVELOPING</h1>

                </div>
            </div>
        </div>
    </div>




    <div class="page">

        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Web Design</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>

                            <li>Create a Website Structure Using HTML, HTML5</li>
                            <li>Formatting Web Layouts Using CSS3</li>
                            <li>Build Responsive Web Design Using Media Query Using Framework Like Bootstrap</li>
                            <li>Add Some Cool Effects Using JavaScript & jQuery</li>
                            <li>Converting PSD to HTML</li>
                            <li>Adding Animation, Scrolling Effects, and Many More Effects Using JS & JQuery</li>
                            <li>Optimizing Website Using SEO Rules</li>
                            <li>Launching Our Website</li>
                            <li>Learning About Domain, Hosting, and Maintain Live Website Using Server Panel</li>
                            <li>Working With WordPress, Installing, Customization, Using Dashboard</li>


                        </ul>
                    </div>
                </div>
                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>
        </div>






        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>PHP</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>

                            <li>Introduction of PHP & PHP MySQL server</li>
                            <li>Control structures in PHP</li>
                            <li>Working with Array and String Function</li>
                            <li>Database Connectivity with MySQL</li>
                            <li>Convert Html File into PHP</li>
                            <li>Manage Admin Panel with Database using OOPS Concept</li>
                            <li>Working with file and Directories</li>
                            <li>State management</li>
                            <li>Introduction of JQuery/Ajax/ JavaScript</li>
                            <li>Client-side(JS & JQ) and Server Side(PHP) Validation</li>


                        </ul>
                    </div>
                </div>
                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>
        </div>






        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Laravel</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Introduction to Laravel</li>
                            <li>Laravel Installation</li>
                            <li>Routing in Laravel</li>
                            <li>MVC in Laravel</li>
                            <li>Caching in Laravel</li>
                            <li>Event subscribers in Laravel</li>
                            <li>Package Development</li>
                            <li>Templates</li>
                            <li>Testing in Laravel</li>
                            <li>Database Configuration</li>
                            <li>Helpers in laravel</li>
                            <li>Laravel Pagination & Security</li>
                            <li>Authentication Facade</li>
                            <li>Validation in Laravel</li>
                            <li>Eloquent OMR</li>
                            <li>Artisan Command Line Interface</li>
                            <li>Deploy Application using Laravel</li>
                            <li>Payment Gateway</li>


                        </ul>
                    </div>
                </div>
                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>
        </div>






        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Javascript</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Javascript Importance</li>
                            <li>Ecma script & Versions & Install Environment Scratch Js</li>
                            <li>Show Different Types Of Output Methods(alert, Console, Document, Inner Html)</li>
                            <li>Syntax And Operations Of Js</li>
                            <li>Conditions & Looping</li>
                            <li> Different Types Of Variable Like (var, Const, Let)</li>
                            <li> Array And String With Different Methods</li>
                            <li> Functions (function Types, Return Types)</li>
                            <li>Working With Objects (Prototype, Methods )</li>
                            <li> Use Different Types Of Objects Like (date, Math,Boolean, Number)</li>
                            <li> Understanding Class And Objects, Constructor,Prototype, Inheritance)</li>
                            <li> Working With Javascript Dom (document Object Module)</li>
                            <li>Understanding Es6 Concept</li>
                            <li>Arrows</li>
                            <li>Classes</li>
                            <li>Iterators + For..of</li>
                            <li>Convert Html File into PHP</li>
                            <li>Proxies, Symbols, Promises, Then, Next</li>
                            <li>Understanding Json (javascript Object Notation)</li>

                            <li> Working With Json (Json.parse, Json.stringify,Json Object, Json Array)</li>
                            <li> Storing Local Data In Javascript With Json Local Storage</li>


                        </ul>
                    </div>
                </div>
                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>
        </div>







        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>NOde Js</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li> Understanding Developer Tools And Setup Node Js Environment </li>
                            <li> Installing NPM (Globally & Locally) </li>
                            <li> Understanding Event Emitter & REPL and CMD </li>
                            <li> Make server with node js and Handle http REQUEST and RESPONSE </li>
                            <li> How Tto attach server Static Resources & Middleware & File Streaming</li>
                            <li> Different Types of web Application Frameworks (Express, Koa, Hapi, Others)</li>
                            <li> Understanding MVC Framework Express JS</li>
                            <li> Setup MongoDB and Connect with Nodejs</li>
                            <li> Callback Functionality (Promises and Bluebird Promises)</li>
                            <li> Working with Different Type Module (Node Mailer, PDFMAKE, Socket0, Passport JS, Express-session, Cookie Parser, connect-flash)</li>
                            <li> Installing Passport js and make Manual Authentication</li>
                            <li> Working with API + JWT (JSON WEB TOKEN) Management</li>
                            <li> Rest full Api (Social Media Integration - Google, Facebook)</li>
                            <li> Chat Application with SOCKET 10</li>
                            <li> Debugging of Node Js application</li>
                            <li> Deployment Project In Heroku </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>
        </div>

    </div>



    {{>footer}}


</body>

</html>