<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>Expert IT & Multimedia Institute</title>

     {{>link}}
</head>

<body>


    {{>navbar}}



    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                <div class="mainheading">


                    <h1>ANDROID DEVELOPMENT</h1>

                </div>
            </div>
        </div>
    </div>

    <div class="page">

        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>C Language</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Introduction of C</li>
                            <li>History & Structure of C</li>
                            <li>Compile and Run Command</li>
                            <li>Variable & Data Type</li>
                            <li>Constant & Data Type</li>
                            <li>Constant & Operator</li>
                            <li>Decision Making & Control Structure</li>
                            <li>Local & Global Variable</li>
                            <li>Loops(While,Do While & For)</li>
                            <li>Array(1D & 2D And Multi-Dimensional)</li>
                            <li>String</li>
                            <li>Function</li>


                        </ul>
                    </div>
                </div>
                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>
        </div>






        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>C++ Language</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Intro. of OOP</li>
                            <li>Declaration of Variable and Data Types</li>
                            <li>C++ Character Function</li>
                            <li>Control Statement and Array</li>
                            <li>Info. of Class and Object</li>
                            <li>Inheritance & Polymorphism</li>
                            <li>Data Hiding & Encapsulation</li>
                            <li>Overloading & Reusability</li>
                            <li>Constructor & Destructor</li>


                        </ul>
                    </div>
                </div>
                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>
        </div>








        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Java</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Intro. to JAVA Programming</li>
                            <li>Fundamentals of Java</li>
                            <li>Looping and Iteration</li>
                            <li>Wrapper Class & CLA</li>
                            <li>Java Important Classes</li>
                            <li>Encapsulation</li>
                            <li>Inheritance</li>
                            <li>Abstraction</li>
                            <li>Polymorphism</li>
                            <li>Package</li>
                            <li>Exception Handling</li>


                        </ul>
                    </div>
                </div>
                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>
        </div>








        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Core Android</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Application development</li>
                            <li>App Development Using Java</li>
                            <li>Introduction & Core Building Block</li>
                            <li>UI Widget like text view, Image View, Toast, Image Button, Checkbox and radio Button </li>
                            <li>Spinner and Dialog (Alert Dialog, Custom Dialog, Rating Dialog)</li>
                            <li>Listview, Webview, and Gridview</li>
                            <li>Intent (Implicit and Explicit Intent)</li>
                            <li>How to Create Multiple Activity with Passing Data</li>
                            <li>How to Create Splash Screen and Toolbar</li>
                            <li>Advanced View(Carview, Circle image view, and Library integration)</li>
                            <li>Image Loader Library(Glide, Piccaso, and Universal)</li>
                            <li>Menu(Option Menu) & Shared Preference</li>
                            <li>Image Access (Camera & Gallery)</li>
                            <li>Recycler view with Model Class</li>



                        </ul>
                    </div>
                </div>
                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>
        </div>










        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Advance Android</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Internet and Gps Check</li>
                            <li>Advance Dialog(Datepicker and Time picker dialog)</li>
                            <li>Fragment(Static fragment and Dynamic fragment)</li>
                            <li>Simple View pager (Image Slider)</li>
                            <li>Tab layout(Viewpager with fragment)</li>
                            <li>Navigation Drawer(Default and Custom Navigation Drawer)</li>
                            <li>SQLite Database(Crud Operation)</li>
                            <li>External Database</li>
                            <li> API Calling(Json Parsing, Volley library, Get and Post Method)</li>
                            <li>Retrofit(API Calling Get & Post Method with Gson)..</li>
                            <li>Firebase(Firebase Auth, Firebase Database, Firebase Storage)</li>
                            <li>Runtime Permission</li>
                            <li>Social Media Integration (Facebook login and Gmail log</li>
                            <li>Apk Generate(Build Apk, Sign Apk, Create js file,Create Bundle)</li>


                        </ul>
                    </div>
                </div>
                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>
        </div>










        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Kotlin</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Introduction of Kotlin (Overview and Importance)</li>
                            <li>Data type, Constant & Variable</li>
                            <li>Control Structure & Looping</li>
                            <li>Function (Create a Function)</li>
                            <li>Class and Object</li>
                            <li>Android View</li>
                            <li>All Events (Click Event, Long Click Event)</li>
                            <li>Recycler view with Model Class</li>
                            <li>SQLite Database (Crud Operation)</li>
                            <li>Retrofit (Get and Post Method with Gson)</li>


                        </ul>
                    </div>
                </div>
                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>
        </div>








        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>UI/UX Design</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Adobe XD</li>
                            <li>Introduction of Adobe XD</li>
                            <li>Select, Rectangle, Ellipse, Line, Polygon & Text tool</li>
                            <li>Pen Tool, Artboard Tool, Zoom Tool Appearance Option</li>
                            <li>Clipping Amsk, Repeat Grid, Scrolling Option Working with Assets and Layer,Grouping and
                                Ungrouping</li>
                            <li>Crautirg Cloud Acceurt & Introduction of Prototype Preview</li>
                            <li>Using Adobe XD Kimts & Plugins</li>
                            <li>Sharing your Adobe XD Designs</li>
                            <li>Viewing Design on Mobile</li>


                        </ul>
                    </div>
                </div>
                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>
        </div>









        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Aso & Earning</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>

                            <li>Introduction of ASO</li>
                            <li>Difference between ASO SEO</li>
                            <li>Various Plugins</li>
                            <li>How to create an account on Admob</li>
                            <li>Admob with android studio</li>
                            <li>Keyword Optimization</li>
                            <li>Keyword Planner</li>
                            <li>Onpage Aso</li>
                            <li>Offpage Aso</li>
                            <li>Color Combination</li>
                            <li>Google Ads</li>
                            <li>Privacy Policy Generation</li>
                            <li>Review Option</li>
                            <li>How to Upload Apps in the Playstore</li>
                            <li>Grammar & amp; Plagiarism Checker</li>
                            <li>Upwork & Freelancer</li>
                            <li>Application Reverse Engineering</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>
        </div>









        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>PHP API</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Introduction of PHP & Server</li>
                            <li>File uploading in server</li>
                            <li>Database Connectivity</li>
                            <li>CRUD operations</li>
                            <li>API Introduction</li>
                            <li>HTTP Request methods</li>
                            <li>User authentication APIs</li>
                            <li>CRUD APIs</li>
                            <li>Admin Panel Management</li>
                            <li>Category and subcategories handling in DB</li>
                            <li>File uploading, alert and Dialogs</li>
                            <li>Included in career & Master Course</li>

                        </ul>
                    </div>
                </div>
                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>
        </div>




    </div>



    {{>footer}}


</body>

</html>