<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


      <title>Expert IT & Multimedia Institute</title>

     {{>link}}
</head>

<body>


    {{>navbar}}



    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                <div class="mainheading">


                    <h1>SOFTWARE DESIGNING & DEVELOPMENT</h1>

                </div>
            </div>
        </div>
    </div>

    <div class="page">

        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>


                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Designing Course</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>HTML, HTTP</li>
                            <li>Communication Skills</li>
                            <li>Introduction to ITBasics of Data Communication</li>
                            <li>Programming in 'C' Language</li>
                            <li>Server Administration</li>
                            <li>Mobile and Wireless Technologies</li>
                            <li>Internet & Web Development</li>
                            <li>Data and File Structures</li>
                            <li>Cloud Computing</li>
                            <li>Digital Electronics</li>
                            <li>Object Oriented Programming with C++</li>
                            <li>Java Programming</li>
                            <li>Entrepreneurship Development</li>

                        </ul>
                    </div>
                </div>

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>

        </div>






        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Testing And Debugging</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>

                            <li>Debugging</li>
                            <li>Logging</li>
                            <li>Multithreading Basics</li>
                            <li>Spring Break - No Classes</li>
                            <li>Advanced Multithreading</li>
                            <li>Regular Expressions, Unit Testing</li>
                            <li>Web, Sockets</li>
                            <li>Servlets, Jetty, Cookies, Sessions</li>
                            <li>Databases, SQL, and JDBC</li>


                        </ul>
                    </div>
                </div>

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>

        </div>







        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Database Management</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>

                            <li>Debugging</li>
                            <li>Logging</li>
                            <li>Multithreading Basics</li>
                            <li>Spring Break - No Classes</li>
                            <li>Advanced Multithreading</li>
                            <li>Regular Expressions, Unit Testing</li>
                            <li>Web, Sockets</li>
                            <li>Servlets, Jetty, Cookies, Sessions</li>
                            <li>Databases, SQL, and JDBC</li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>

        </div>






    </div>



    {{>footer}}


</body>

</html>