<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>Expert IT & Multimedia Institute</title>

     {{>link}}
</head>

<body>


    {{>navbar}}



    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                <div class="mainheading">


                    <h1>FLUTTER DEVELOPMENT</h1>

                </div>
            </div>
        </div>
    </div>

    <div class="page">

        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>


                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>C Language</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Introduction of C</li>
                            <li>History & Structure of C</li>
                            <li>Compile and Run Command</li>
                            <li>Variable & Data Type</li>
                            <li>Constant & Data Type</li>
                            <li>Constant & Operator</li>
                            <li>Decision Making & Control Structure </li>
                            <li>Local & Global Variable</li>
                            <li>Loops(While,Do While & For)</li>
                            <li>Array(1D & 2D And Multi-Dimensional)</li>
                            <li>String</li>
                            <li>Function</li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>

        </div>






        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>C++ Language</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Character Function</li>
                            <li>Control Statement and Array</li>
                            <li>Info. of Class and Object</li>
                            <li>Inheritance & Polymorphism</li>
                            <li>Data Hiding & Encapsulation</li>
                            <li>Overloading & Reusability</li>
                            <li>Constructor & Destructor</li>
                            <li>Inline & Virtual Function</li>
                            <h5>Language</h5>
                            <li>C, C++</li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>

        </div>







        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Core Flutter</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Flutter development</li>
                            <li>Fundamentals of Dart</li>
                            <li>Anatomy of Flutter</li>
                            <li>User Interface Designing</li>
                            <li>Object Oriented Programming</li>
                            <li>Gesture Detection</li>
                            <li>Routes & Navigation</li>
                            <li>Buttons & Dialogs</li>
                            <li>Forms & Validation</li>
                            <li>Theme Customization</li>
                            <li>Core User Interface Views</li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>

        </div>







        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>


                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>UI/UX Design</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>

                            <li>Figma</li>
                            <li>Introduction of Figma</li>
                            <li>Select, Rectangle, Ellipse, Line, Polygon & Text tool</li>
                            <li>Pen Tool, Artboard Tool, Zoom Tool Appearance Option</li>
                            <li>Clipping Amsk, Repeat Grid, Scrolling Option Working with Assets and Layer, Grouping and Ungrouping</li>
                            <li>Crautirg Cloud Acceurt & Introduction of Prototype Preview</li>
                            <li>Using Figma Kimts & Plugins</li>
                            <li>Sharing your Figma Designs</li>
                            <li>Viewing Design on Mobile</li>

                        </ul>
                    </div>
                </div>

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>

        </div>





        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>


                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>PHP API</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Introduction of PHP & Server</li>
                            <li>File uploading in server</li>
                            <li>Database Connectivity</li>
                            <li>CRUD operations</li>
                            <li>API Introduction</li>
                            <li>HTTP Request methods</li>
                            <li>User authentication APIs</li>
                            <li>CRUD APIs</li>


                        </ul>
                    </div>
                </div>

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>

        </div>




        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>


                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Advance Flutter</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Advance Flutter</li>
                            <li>Custom Libraries and External Packages</li>
                            <li>Platform Specific Coding</li>
                            <li>Advance User Interface Views</li>
                            <li>Asynchronous Programming</li>
                            <li>Web View and Geolocation</li>
                            <li>Working with Multimedia</li>
                            <li>Shared Preferences</li>
                            <li>Working with APIs</li>
                            <li>State Management</li>

                        </ul>
                    </div>
                </div>

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>

        </div>










        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>


                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Animation</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Drawing and Clipping</li>
                            <li>Database Interaction (SQLite and Firebase)</li>
                            <li>Social Media Integration</li>
                            <li>Firebase notifications</li>
                            <li>Git and GitHub</li>
                            <li>Publishing Flutter App on Play Store</li>


                        </ul>
                    </div>
                </div>

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>

        </div>








        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>


                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Aso & Earning</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>

                            <li>Aso &Earning</li>
                            <li>Introduction of ASO</li>
                            <li>Difference between ASO SEO</li>
                            <li>Various Plugins</li>
                            <li>How to create an account on Admob</li>
                            <li>Admob with android studio</li>
                            <li>Keyword Optimization</li>
                            <li>Keyword Planner</li>
                            <li>Onpage Aso</li>
                            <li>Offpage Aso</li>
                            <li>Color Combination</li>
                            <li>Google Ads</li>
                            <li>Privacy Policy Generation</li>
                            <li>Review Option</li>
                            <li>How to Upload Apps in the Playstore</li>
                            <li>Grammar & amp; Plagiarism Checker</li>
                            <li>Upwork & Freelancer</li>
                            <h6>LANGUAGE</h6>
                            <li>Aso, PHP API</li>


                        </ul>
                    </div>
                </div>

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>

        </div>









    </div>



    {{>footer}}


</body>

</html>