<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>Expert IT & Multimedia Institute</title>
     {{>link}}
</head>

<body>


    {{>navbar}}



    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                <div class="mainheading">


                    <h1>ANIMATION AND MULTIMEDIA</h1>

                </div>
            </div>
        </div>
    </div>

    <div class="page">

        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Fundamentals of Graphics</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Understand Concepts of Graphics & illustration</li>
                            <li>2D Character Design</li>
                            <li>Create Background of the Video</li>
                            <li>Logo making</li>
                            <li>Cinematography</li>
                            <li>VFX</li>
                            <li>Short Board</li>
                            <li>Story Writing</li>


                        </ul>
                    </div>
                </div>
                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>
        </div>














        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Fundamentals of 2D Animation</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>

                            <li> Cinematography</li>
                            <li> VFX</li>
                            <li> Title making</li>
                            <li> Rotoscopy</li>
                            <li> Rendering with final output</li>
                            <li> Motion Graphics </li>
                            <li> Sound Editing</li>
                            <li> Short Film Making</li>
                            <li> Making Portfolio and Resume on Online Platforms (Art Station, Behance, Dribbble etc.)
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>
        </div>


        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>3D</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Introduction to animation and history</li>
                            <li>3D Modeling</li>
                            <li>Digital 3D Animation</li>
                            <li>3D Character Design</li>
                            <li>Rigging and Animation</li>
                            <li>3D Title Animation</li>
                            <li>Shading & Texturing</li>
                            <li>Rendering</li>
                            
                            <h6>SOFTWARE</h6>
                            <li>PHOTOSHOP, ILLUSTRATOR,Drawing, Adobe After Effects,Adobe Premiere Pro., Adobe Audition,
                                Adobe Animate, 3Ds Max, Maya</li>

                        </ul>
                    </div>
                </div>
                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>
        </div>




        


    </div>



    {{>footer}}


</body>

</html>