<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>Expert IT & Multimedia Institute</title>
     {{>link}}
</head>

<body>


    {{>navbar}}



    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                <div class="mainheading">


                    <h1>iOS DEVELOPMENT</h1>

                </div>
            </div>
        </div>
    </div>

    <div class="page">

        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>C Language</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Introduction of C</li>
                            <li>History & Structure of C</li>
                            <li>Compile and Run Command</li>
                            <li>Variable & Data Type</li>
                            <li>Constant & Data Type</li>
                            <li>Constant & Operator</li>
                            <li>Decision Making & Control Structure</li>
                            <li>Local & Global Variable</li>
                            <li>Loops(While,Do While & For)</li>
                            <li>Array(1D & 2D And Multi-Dimensional)</li>
                            <li>String</li>
                            <li>Function</li>

                        </ul>
                    </div>
                </div>
                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>
        </div>


        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>C++ Language</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Intro. of OOP</li>
                            <li>Declaration of Variable and Data Types</li>
                            <li>C++ Character Function</li>
                            <li>Control Statement and Array</li>
                            <li>Info. of Class and Object</li>
                            <li>Inheritance & Polymorphism</li>
                            <li>Data Hiding & Encapsulation</li>
                            <li>Overloading & Reusability</li>
                            <li>Constructor & Destructor</li>
                            <li>Inline & Virtual Function</li>

                        </ul>
                    </div>
                </div>
                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>
        </div>
        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>UI/UX Design</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Figma</li>
                            <li>Introduction of Figma</li>
                            <li>Select, Rectangle, Ellipse, Line, Polygon & Text tool</li>
                            <li>Pen Tool, Artboard Tool, Zoom Tool Appearance Option</li>
                            <li>Clipping Amsk, Repeat Grid, Scrolling Option Working with Assets and Layer,Grouping and
                                Ungrouping</li>
                            <li>Crautirg Cloud Acceurt & Introduction of Prototype Preview</li>
                            <li>Using Figma Kimts & Plugins</li>
                            <li>Sharing your Figma Designs</li>
                            <li>Viewing Design on Mobile</li>

                        </ul>
                    </div>
                </div>
                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>
        </div>



        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Core iOS(Swift)</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Basic Core Concepts</li>
                            <li>Overview of Objective C</li>
                            <li>Basic Information of iOS</li>
                            <li>Introduction of X-code</li>
                            <li>Basic Concepts with playground</li>
                            <li>IB Outlets & IB Actions</li>
                            <li>Storyboard & XIB</li>
                            <li>Delegate & Protocol</li>
                            <li>Text field & text view and Delegate methods of them</li>
                            <li>UI Controls</li>
                            <li>Api Calling</li>
                            <li>Constraints</li>
                            <li>Dynamic UI Controls</li>
                            <li>Cocoa Pods</li>
                            <li>Local Database</li>
                            <li>Core Database</li>
                            <li>Tab Bar</li>
                            <li>App Uploading</li>

                        </ul>
                    </div>
                </div>
                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>
        </div>




        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>ASO</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>App Store Optimization</li>
                            <li>Introduction of ASO</li>
                            <li>Keyword Optimization</li>
                            <li>Keyword Planner</li>
                            <li>ASO tool of Apple</li>
                            <li>Google Ads</li>
                            <li>Google Analytics</li>
                            <li>Google Ads with XCode</li>
                            <li>Onpage Aso</li>
                            <li>FB, Instagram & Linkedin</li>
                            <li>App Name & Sub Title</li>
                            <li>Screen shots</li>
                            <li>App Localization</li>
                            <li>Upwork & Freelancer & Anglist</li>

                        </ul>
                    </div>
                </div>
                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>
        </div>




        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding">
                    <div class="pageheading">
                        <h2>Advance iOS(Swift)</h2>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">

                    <div class="pagecontent">
                        <ul>
                            <li>Advance Swift</li>
                            <li>Models</li>
                            <li>Coding Introduction as a Developer</li>
                            <li>MVC Architecture</li>
                            <li>MVVM Architecture</li>
                            <li>Map, Filter,Reduce</li>
                            <li>Sidebar</li>
                            <li>Advance API Calling</li>
                            <li>Push Notifications</li>
                            <li>Firebase Integrations</li>
                            <li>Project Architecture</li>
                            <li>Drop-down,Pop-Ups</li>
                            <li>Use Controls in Advance</li>
                            <li>App Group</li>
                            <li>Thread Controlling</li </ul>
                    </div>
                </div>
                <div class="col-xl-1.5 col-lg-1.5 col-md-1.5 col-sm-1.5 col-xs-1.5 nopadding"> </div>
            </div>
        </div>





    </div>



    {{>footer}}


</body>

</html>