<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Expert IT & Multimedia Institute</title>
     {{>link}}

</head>
<body>

    {{>navbar}}
    
    <div class="partner1" >
        <div class="container">
            <h2 >OUR PLACEMENT PARTNERS</h2>
            <section class="customer-logos slider">
                <div class="slide"><img src="images/partner1.png" alt="logo"></div>
                <div class="slide"><img src="images/partner2.png" alt="logo"></div>
                <div class="slide"><img src="images/partner3.png" alt="logo"></div>
                <div class="slide"><img src="images/partner4.jpg" alt="logo"></div>
                <div class="slide"><img src="images/partner5.jpg" alt="logo"></div>
                <div class="slide"><img src="images/partner6.png" alt="logo"></div>
                <div class="slide"><img src="images/partner7.png" alt="logo"></div>
                <div class="slide"><img src="images/partner8.png" alt="logo"></div>
                <div class="slide"><img src="images/partner9.png" alt="logo"></div>

            </section>
        </div>
    </div>


    <div class="partner2">
        <div class="container">
            <h2>OUR STUDENTS ARE PLACED IN COMPANIES</h2>
            <section class="customer-logos slider">
                <div class="slide"><img src="images/partner11.jpg" alt="logo"></div>
                <div class="slide"><img src="images/partner12.jpg" alt="logo"></div>
                <div class="slide"><img src="images/partner14.avif" alt="logo"></div>
                <div class="slide"><img src="images/partner15.png" alt="logo"></div>
                <div class="slide"><img src="images/partner16.png" alt="logo"></div>
                <div class="slide"><img src="images/partner17.png" alt="logo"></div>
                <div class="slide"><img src="images/partner18.jpeg" alt="logo"></div>
                <div class="slide"><img src="images/partner19.jpg" alt="logo"></div>
                <div class="slide"><img src="images/partner20.jpg" alt="logo"></div>
                <div class="slide"><img src="images/partner21.webp" alt="logo"></div>
                <div class="slide"><img src="images/partner22.jpg" alt="logo"></div>
                <div class="slide"><img src="images/partner23.png" alt="logo"></div>
                <div class="slide"><img src="images/partner24.png" alt="logo"></div>
                <div class="slide"><img src="images/partner25.png" alt="logo"></div>
                <div class="slide"><img src="images/partner26.jpg" alt="logo"></div>

            </section>
        </div>
    </div>


    <script>

        $(document).ready(function () {
            $('.customer-logos').slick({
                slidesToShow: 5,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1500,
                arrows: false,
                dots: false,
                pauseOnHover: false,
                responsive: [{
                    breakpoint: 768,
                    setting: {
                        slidesToShow: 4
                    }
                }, {
                    breakpoint: 520,
                    setting: {
                        slidesToShow: 3
                    }
                }]
            });
        });

    </script>


{{>footer}}

</body>
</html>