<footer>
    <div class="main-content">
        <div class="left box">
            <h2>About us</h2>
            <div class="content1">
                <p>Expert It and Multimedia Institute is leading computer training institute in surat. We offers
                    government approved computer training courses and government Certificate in Surat. </p>
                <div class="place">
                    <span class="fas fa-map-marker-alt"></span>
                    <a href="https://maps.app.goo.gl/PHVqesRLcCRsurD69"> <span class="text">Mota
                            Varchha,Surat</span></a>
                </div>
                <div class="phone">
                    <span class="fas fa-phone-alt"></span>
                    <a href="tel:+918160360204"> <span class="text">+918160360204</span></a>
                    <span class="fas fa-phone-alt"></span>
                    <a href="tel:+919054243426"> <span class="text">+919054243426</span></a>
                </div>
                <div class="email">
                    <span class="fas fa-envelope"></span>
                    <a href="mailto:info@expertitinstitute.in"><span class="text">info@expertitinstitute.in</span></a>
                </div>
                <div class="social">
                    <a href="https://www.facebook.com/expertitinstitute/?ref=pages_you_manage"><span
                            class="fab fa-facebook-f"></span></a>
                    <a href="https://www.instagram.com/expertitinstitute/"><span class="fab fa-instagram"></span></a>
                    <a href="https://wa.me/918160360264?text=How"><span class="fab fa-whatsapp"></span></a>
                    <a href="http://twitter.com/Expert_IT_"><span class="fab fa-twitter"></span></a>
                </div>

            </div>
        </div>
        <div class="center box">
            <h2>Courses</h2>
            <div class="content1">
                <h5>Master Diploma in Information & Technology(MDIT)</h5>
                <ul>
                    <li><a href="/page1">Front And Development & Designing</a></li>
                    <li><a href="/page2">Back End Developing</a></li>
                    <li><a href="/page3">Software Designing & Development</a></li>
                    <li><a href="/page4">IOS Development</a></li>
                    <li><a href="/page5">Android Development</a></li>
                    <li><a href="/page6">Graphic Development</a></li>
                    <li><a href="/page7">Flutter Development</a></li>
                    <li><a href="/page8">Animation And Multimedia</a></li>
                    <li><a href="/page9">Game Designing</a></li>
                </ul>

            </div>
        </div>
        <div class="right box">
            <h2>Main Page</h2>
            <div class="content1">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Courses</a></li>
                    <li><a href="">College Courses</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/aboutus">Know Us</a></li>
                    <li><a href="/contact">Get in Touch</a></li>
                </ul>
            </div>
            </form>
        </div>
    </div>
    </div>
    <div class="bottom">
        <center>
            <span class="credit">content of <a href="expert.com">expert</a> | </span>
            <span class="far fa-copyright"></span><span> 2022 All Rights Reserved by Expert IT & Multimedia
                Institute.</span>
        </center>
    </div>
</footer>