<div class="header">
     <div class="top-header">
        <div class="emaildiv">
            <ul class="info1">
                <li>
                    <a href="mailto:info@expertitinstitute.in"><i class="fa-solid fa-envelope"></i>info@expertitinstitute.in</a>
                </li>
            </ul>
        </div>

        <div class="mobilediv">
            <ul class="info2">
                <li>
                    <a title="Have any Question? Contact Now">HAVE ANY QUESTION?</a>
                    <a href="tel:+918160360204">+918160360204</a>
                    <a href="tel:+919054243426">+919054243426</a>
                </li>
            </ul>
        </div>

        <div class="icondiv">
            <a href="https://www.facebook.com/expertitinstitute/?ref=pages_you_manage" title="Follow us on Facebook"><i
                    class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/expertitinstitute/" title="Follow us on instagram"><i
                    class="fa-brands fa-instagram"></i></a>
            <a href="https://wa.me/918160360264?text=How" title="Message on whatsapp"><i
                    class="fa-brands fa-whatsapp"></i></a>
            <a href="http://twitter.com/Expert_IT_"><i class="fa-brands fa-twitter" title="Follow us on twitter"></i></a>
        </div>
    </div>

{{!-- 
    <div class="top-header">
        <div class="container-fluid">

            <div class="row">
               

                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 nopadding">

                    <div class="emaildiv">
                        <ul class="info1">
                            <li>
                                <a href=""><i class="fa-solid fa-envelope"></i>info@expertitinstitute.in</a>
                            </li>
                        </ul>
                    </div>

                </div>


                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12 nopadding">
                    <div class="mobilediv">
                        <ul class="info2">
                            <li>
                                <a title="Have any Question? Contact Now">HAVE ANY QUESTION?</a>
                                <a href="tel:+918160360204">+918160360204</a>
                                <a href="tel:+919054243426">+919054243426</a>
                            </li>
                        </ul>
                    </div>
                </div>



                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12 nopadding">
                    <div class="icondiv">
                        <a href="https://www.facebook.com/expertitinstitute/?ref=pages_you_manage"
                            title="Follow us on Facebook"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/expertitinstitute/" title="Follow us on instagram"><i
                                class="fa-brands fa-instagram"></i></a>
                        <a href="https://wa.me/918160360264?text=How" title="Message on whatsapp"><i
                                class="fa-brands fa-whatsapp"></i></a>
                        <a href="http://twitter.com/Expert_IT_"><i class="fa-brands fa-twitter" title="Follow us on twitter"></i></a>
                    </div>
                   
                </div>
            </div>

        </div>
    </div> --}}








{{!-- </div> --}}

{{!-- header code --}}
<nav>
    <div class="wrapper">

        <div class="logo"><img src="images/expertlogo.png"></div>
        <input type="radio" name="slider" id="menu-btn">
        <input type="radio" name="slider" id="close-btn">

        <ul class="nav-links">
            <label for="close-btn" class="btn close-btn"><a href=""><i class="fas fa-times"></i></a></label>
            <li><a href="/">HOME</li>



            <li>
                <a href="#" class="desktop-item">COURSES</a>
                <input type="checkbox" id="showMega">
                <label for="showMega" class="mobile-item">COURSES</label>
                <div class="mega-box">
                    <div class="content">
                        <div class="r">
                            <p>MULTIMEDIA COURCES</p>
                            <ul class="mega-links">
                                <li><a href="#">Master Diploma in Information Technology</a></li>
                                <li><a href="#">Master in Web Design </a></li>
                                <li><a href="#">Master in UI/UX Design</a></li>
                                <li><a href="#">Master in 2D/3D Animation</a></li>
                                <li><a href="#">Master in Android Develpoment</a></li>
                                <li><a href="#">Master in Flutter Develpoment</a></li>
                                <li><a href="#">Master in Flutter App Develpoment</a></li>
                                <li><a href="#">Master in Web Develpoment</a></li>
                                <li><a href="#">Master in Full-Stack Develpoment</a></li>
                                <li><a href="#">Master in Game Develpoment</a></li>
                                <li><a href="#">Master in React Native Develpoment</a></li>
                            </ul>
                        </div>


                        <div class="r">
                            <p>UI/UX & GRAPHICS DESIGN</p>
                            <ul class="mega-links">
                                <li><a href="#">Advance Graphic Design</a></li>
                                <li><a href="#">Video Editing</a></li>
                                <li><a href="#">Maya Pro</a></li>
                                <li><a href="#">Blender 3D Design</a></li>
                                <li><a href="#">2D/3D Game Design</a></li>

                            </ul>
                        </div>

                        <div class="r">
                            <p>PROGRAMMING IT</p>
                            <ul class="mega-links">
                                <li><a href="#">C Programming</a></li>
                                <li><a href="#">C++ Programming</a></li>
                                <li><a href="#">Java Programming</a></li>
                                <li><a href="#">iOS</a></li>
                                <li><a href="#">Advance PHP</a></li>
                                <li><a href="#">Larvel</a></li>
                                <li><a href="#">Wordpress</a></li>
                                <li><a href="#">Codelgniter</a></li>
                            </ul>
                        </div>


                        <div class="r">
                            <p>TRENDY COURSES</p>
                            <ul class="mega-links">
                                <li><a href="#">Node JS</a></li>
                                <li><a href="#">React JS</a></li>
                                <li><a href="#">Angular JS</a></li>
                                <li><a href="#">Ethical Hacking</a></li>
                                <li><a href="#">Unity 3D</a></li>
                                <li><a href="#">Python</a></li>
                                <li><a href="#">React Native</a></li>
                                <li><a href="#">Desktop App Develpoment</a></li>
                                <li><a href="#">Advanced ASP.net Develpoment</a></li>
                            </ul>
                        </div>


                        <div class="r">
                            <p>CIVIL-MECH. ENGINEERING</p>
                            <ul class="mega-links">
                                <li><a href="#">AutoCAD (Civil)</a></li>
                                <li><a href="#">3Ds Max</a></li>
                                <li><a href="#">Google SketchUp</a></li>
                                <li><a href="#">Lumion</a></li>
                                <li><a href="#">Revit Architecture</a></li>
                                <li><a href="#">Interior & Exterior Design</a></li>
                                <li><a href="#">AutoCAD (Mech.)</a></li>
                            </ul>
                        </div>

                        <div class="r">
                            <p>BUSINESS DEVELOPMENT</p>
                            <ul class="mega-links">
                                <li><a href="#">Digital Marketing</a></li>
                                <li><a href="#">Personality Develpoment</a></li>
                                <li><a href="#">Entrepreneurship Development</a></li>
                                <li><a href="#">Corporate English</a></li>
                                <li><a href="#">Social Media Marketing</a></li>
                                <li><a href="#">Master in Data Science</a></li>
                            </ul>
                        </div>


                        <div class="r">
                            <p>SHORT TERM COURSES</p>
                            <ul class="mega-links">
                                <li><a href="#">Adobe Illustrator</a></li>
                                <li><a href="#">Abode XD</a></li>
                                <li><a href="#">Taily Accounting</a></li>
                                <li><a href="#">CCC- Basic Computer Course</a></li>
                                <li><a href="#">Photoshop</a></li>
                                <li><a href="#">CorelDraw</a></li>
                            </ul>
                        </div>

                        <div class="r">
                            <p>FILM MAKING & VFX COURSES</p>
                            <ul class="mega-links">
                                <li><a href="#">Film Making</a></li>
                                <li><a href="#">Film Editing & VFX</a></li>
                                <li><a href="#">Cinematography</a></li>
                                <li><a href="#">TV Journalism</a></li>
                                <li><a href="#">Photoshop</a></li>
                                <li><a href="#">CorelDraw</a></li>
                            </ul>
                        </div>


                    </div>
                </div>
            </li>


            <li>
                <a href="#" class="desktop-item">COLLEGE COURCES</a>
                <input type="checkbox" id="showDrop">
                <label for="showDrop" class="mobile-item">COLLEGE COURCES</label>
                <ul class="drop-menu">
                    <li><a href="#">BCA</a></li>
                    <li><a href="#">B.COM</a></li>
                    <li><a href="#">MBA</a></li>
                    <li><a href="#">B.sc IT</a></li>
                    <li><a href="#">ANM</a></li>
                    <li><a href="#">B.sc Nursing</a></li>
                    <li><a href="#">B.Ed</a></li>
                    <li><a href="#">B.Tech</a></li>
                    <li><a href="#">BBA</a></li>
                    <li><a href="#">MCA</a></li>
                    <li><a href="#">M.com</a></li>
                    <li><a href="#">M.sc IT</a></li>
                    <li><a href="#">GNM</a></li>
                    <li><a href="#">BA/MA</a></li>
                    <li><a href="#">m.Ed</a></li>
                    <li><a href="#">M.Tech</a></li>
                </ul>
            </li>
            <li><a href="/gallery">GALLERY</a></li>
            <li>
                <a href="#" class="desktop-item">KNOW US</a>
                <input type="checkbox" id="showDrop2">
                <label for="showDrop2" class="mobile-item">KNOW US</label>
                <ul class="drop-menu2">
                    <li><a href="/aboutus">About us</a></li>
                    <li><a href="/partner">Placement Partner</a></li>
                </ul>
            </li>
            <li><a href="/contact">GET IN TOUCH</a></li>
        </ul>
        <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
    </div>
</nav>