*{
    margin: 0;
    padding: 0;
}

.contactus .container3 .content3 .topic{
    font-weight: 900;
}
.contactus{
    height: 110vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(178, 223, 230);
    position: relative;
  }

  
  .contactus::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgb(17, 74, 83);
    clip-path: polygon(86% 0, 100% 0, 100% 100%, 60% 100%);
  }

  .container3{
    z-index: 12;
    max-width: 1050px;
    width: 100%;
    background: white;
    border-radius: 12px;
    margin: 0 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  .container3 .content3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
  }
  .content3 .image-box{
    max-width: 55%;
  }
  .content3 .image-box img{
    width: 100%;
  }
  .content3 .topic{
    font-size: 22px;
    font-weight: 500;
    color: rgb(17, 74, 83);
  }
  .content3 form{
    width: 40%;
    margin-right: 30px;
  }
  .content3 .input-box{
    height: 50px;
    width: 100%;
    margin: 16px 0;
    position: relative;
  }
  .content3 .input-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    padding-left: 16px;
    background: rgb(178, 223, 230);
    border: 2px solid transparent;
    transition: all 0.3s ease;
  }
  .content3 .input-box input:focus,
  .content3 .input-box input:valid{
    border-color: rgb(17, 74, 83);
    background-color: rgb(45, 166, 185);
  }
  .content3 .input-box label{
    position: absolute;
    left: 18px;
    top: 50%;
    color: #636c72;
    font-size: 15px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }
  .content3 .input-box input:focus ~ label,
  .content3 .input-box input:valid ~ label{
    top: 0;
    left: 12px;
    display: 14px;
    color: rgb(17, 74, 83);
    background: #fff;
  }
  .content3 .message-box{
    min-height: 100px;
    position: relative;
  }
  .content3 .message-box textarea{
    position: absolute;
    height: 100%;
    width: 100%;
    resize: none;
    background: rgb(178, 223, 230);
    border: 2px solid transparent;
    border-radius: 6px;
    outline: none;
    transition:all 0.3s ease;
  }
  .content3 .message-box textarea:focus{
    border-color: rgb(17, 74, 83);
    background-color: #fff;
  }
  .content3 .message-box label{
    position: absolute;
    font-size: 16px;
    color: #636c72;
    left: 18px;
    top: 6px;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .content3 .message-box textarea:focus ~ label{
    left: 12px;
    top: -10px;
    color: rgb(17, 74, 83);
    font-size: 14px;
    background: #fff;
  }


  .content3 .input-box input[type="submit"]{
    color: #fff;
    background: rgb(17, 74, 83);
    padding-left: 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  .content3 .input-box input[type="submit"]:hover{
    background-color: rgb(27, 137, 154);
  }
  @media (max-width:1000px) {
    .content3 .image-box{
      max-width: 70%;
    }
    .content3{
      padding: 10px 0;
    }
  }
  @media (max-width:900px) {
    .content3 .image-box{
      display: none;
    }
    .content3 form{
      width: 100%;
      margin-left: 30px;
    }
  }
  